export MYUID := $(shell id -u)
export MYGID := $(shell id -g)

# Binaries and tooling
DOCKER_COMPOSE_FILE_DIR= ./docker/coding-challenge/docker-compose.yml
BIN_PHP=docker compose -f ${DOCKER_COMPOSE_FILE_DIR} exec -T  php /usr/local/bin/php
